<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thống kê</title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--sidebar start-->
    <%- include('../partials/sidebar') %>
    <!-- sidebar end -->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <h3>Danh sách khách hàng</h3>
                <div class="panel panel-default">
                    <div class="table-responsive" style="margin-top: 15px;">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 30px;">ID</th>
                                <th>Tên khách hàng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Tùy biến</th>
                            </tr>
                            </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center;">1</td>
                                    <td>Kỳ Phong</td>
                                    <td>kyphong2802@gmail.com</td>
                                    <td style="text-align: center;">0966331402</td>
                                    <td>Nhà A17, Tạ Quang Bửu</td>
                                    <td>
                                        <a href="#" class="active">
                                            <i class="fa-solid fa-square-check" style="font-size: 25px; color: #337AB7;"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">2</td>
                                    <td>Kỳ Phong</td>
                                    <td>kyphong2802@gmail.com</td>
                                    <td style="text-align: center;">0966331402</td>
                                    <td>Nhà A17, Tạ Quang Bửu</td>
                                    <td>
                                        <a href="#" class="active">
                                            <i class="fa-solid fa-square-check" style="font-size: 25px; color: #337AB7;"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
        </section>
    <!--main content end-->

</section>
    <%- include('../partials/footer') %>
</body>
</html>

