<footer id="footer">
    <div class="container">
        <div class="my-footer">
            <div class="row">
                <div class="col">
                    <h5>Giới Thiệu</h5>
                    <a href="{{url('/about')}}"><p>Thông tin về Gaming store</p></a>
                    <a href="{{url('/dieu_khoan_dich_vu')}}"><p>Điều khoản dịch vụ</p></a>
                    <a href="{{url('/chinh_sach_bao_mat')}}"><p>Chính sách bảo mật</p></a>
                </div>

                <div class="col">
                    <h5>Tài Khoản</h5>
                    <a href="{{url('/login')}}"><p>Đăng Nhập</p></a>
                    <a href="{{url('/signup')}}"><p>Đăng Ký</p></a>
                </div>

                <div class="col">
                    <h5>Liên hệ</h5>
                    <a href="{{url('#')}}"><p>Hotline 0123456789</p></a>
                    <a href="{{url('/help')}}"><p>Hỗ trợ</p></a>
                    <a href="{{url('#')}}"><p>Chat với CSKH</p></a>
                </div>

                <div class="col">
                    <img src="/images/copyright.png" alt="UserImage">
                </div>
            </div>
        </div>
    </div>
</footer>