<header id="header">
    <div class="head_link">
        <a href="/">
            <img src="/images/gamingstore-logoo.png" alt="LogoImage">
        </a>
        <form>
            <input name="kw_submit" type="text" placeholder="Tìm kiếm sản phẩm...">
            <button class="btn" type="submit">
                <i class="bi bi-search" style="color: white"></i>
            </button>
        </form>
        <div class="icon">
            <img src="/images/user (2).png" alt="UserImage" onclick="toggleMenu()">
            <?php
            $customer_id = Session::get('customer_id');
            $admin_id = Session::get('admin_id');
            if ($customer_id) {
                $customer_name = Session::get('customer_name');
                echo '<a href="/profile/' . $customer_id . '">';
                echo $customer_name;
                echo '</a>';
                echo '<div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <a href="/profile/' . $customer_id . '" class="sub-menu-link">
                        <p>Quản lý tài khoản</p>
                    </a>
                    <a href="/orders/'.$customer_id.'" class="sub-menu-link">
                        <p>Lịch sử đơn hàng</p>
                    </a>
                    <a href="/security" class="sub-menu-link">
                        <p>Mật khẩu</p>
                    </a>
                    <a href="/customer_logout" class="sub-menu-link">
                        <p>Đăng xuất</p></a>
                </div>
            </div>';
            } elseif ($admin_id) {
                $admin_name = Session::get('admin_name');
                echo '<a href="/admin/home">';
                echo $admin_name;
                echo '</a>';
            } else {
                echo '<a href="/login">Đăng nhập/Đăng ký</a>';
            }
            ?>

            <?php
            if ($customer_id) {
                echo '<a class="cart" href="/cart/' . $customer_id . '">
                <img src="/images/shopping-cart.png" alt="UserImage">
                Giỏ hàng
            </a>';
            } else {
                echo '<a href="/login"><img src="/images/shopping-cart.png" alt="UserImage">Giỏ hàng</a>';
            }
            ?>

            <?php
            if ($admin_id) {
                echo '<a class="cart" href="/admin/home">
                <img src="/images/gear.png" alt="UserImage">Quản lý
            </a>';
            } elseif ($customer_id)
                echo '';
            else {
                echo '<a class="cart" href="/admin/login">
                <img src="/images/gear.png" alt="UserImage">Quản lý
            </a>';
            }
            ?>
        </div>
    </div>

    <div class="head_menu">
        <div class="row">
            <div class="col">
                <div class="dropdown_menu">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/category (1).png" alt="UserImage" style="width: 30px;height: 30px;">
                        Danh mục sản phẩm
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach($category as $kw => $cate)
                            <li><a class="dropdown-item"
                                   href="{{'/category/'.$cate->category_id}}">{{$cate->category_name}}</a></li>
                        @endforeach
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="icon-menu">
                    <a class="introduction" href="{{url('/about')}}">
                        <img src="/images/introduction.png" alt="UserImage">
                        Giới thiệu
                    </a>
                    <a class="news" href="{{url('/news')}}">
                        <img src="/images/newspaper.png" alt="UserImage">
                        Tin tức
                    </a>
                    <a class="Hiring" href="{{url('/hiring')}}">
                        <img src="/images/hiring.png" alt="UserImage">
                        Tuyển dụng
                    </a>
                    <a class="support" href="{{url('/help')}}">
                        <img src="/images/headphones.png" alt="UserImage">
                        Hỗ trợ
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>