<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Getting Started with Chart JS with www.chartjs3.com</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .chartMenu {
        width: 100vw;
        height: 40px;
        background: #1a1a1a;
        color: rgba(54, 162, 235, 1);
      }
      .chartMenu p {
        padding: 10px;
        font-size: 20px;
      }
      .chartCard {
        width: 100vw;
        height: calc(100vh - 40px);
        background: rgba(54, 162, 235, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .chartBox {
        width: 700px;
        padding: 20px;
        border-radius: 20px;
        border: solid 3px rgba(54, 162, 235, 1);
        background: white;
      }
    </style>
  </head>
  <body>
    <div class="chartMenu">
      <p>WWW.CHARTJS3.COM (Chart JS <span id="chartVersion"></span>)</p>
    </div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>
        Start:
        <input
          type="date"
          name=""
          id="start"
          min="2023-06-01"
          max="2023-06-03"
          value="2023-06-01"
        />
        End:
        <input
          type="date"
          name=""
          id="end"
          min="2023-06-04"
          max="2023-06-07"
          value="2023-06-04"
        />
        <button onclick="filterDate()">Filter</button>
        <button onclick="resetDate()">Reset</button>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
      // setup
      //new Date("2023-06-14 00:00:00 GMT+07")
      const dates = [
        "2023-06-01",
        "2023-06-02",
        "2023-06-03",
        "2023-06-04",
        "2023-06-05",
        "2023-06-06",
        "2023-06-07",
      ];

      const convert = dates.map((date) => new Date(date).setHours(0, 0, 0, 0));

      const datapoints = [1, 2, 3, 4, 5, 6, 7];

      const data = {
        //   labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        labels: dates,
        datasets: [
          {
            label: "Weekly Sales",
            data: [1, 2, 3, 4, 5, 6, 7],
            backgroundColor: ["rgba(255, 26, 104, 0.2)"],
            borderColor: ["rgba(255, 26, 104, 1)"],
            borderWidth: 1,
          },
        ],
      };

      // config
      const config = {
        type: "bar",
        data,
        options: {
          scales: {
            x: {
              type: "time",
              time: {
                unit: "day",
              },
            },
            y: {
              beginAtZero: true,
            },
          },
        },
      };

      // render init block
      const myChart = new Chart(document.getElementById("myChart"), config);
      function filterDate() {
        const start1 = new Date(document.getElementById("start").value);
        const start = start1.setHours(0, 0, 0, 0);
        const end1 = new Date(document.getElementById("end").value);
        const end = end1.setHours(0, 0, 0, 0);

        const filterDates = convert.filter(
          (date) => date >= start && date <= end
        );
        const startArray = convert.indexOf(filterDates[0]);
        const endArray = convert.indexOf(filterDates[filterDates.length - 1]);

        const copyDatapoints = [...datapoints];
        copyDatapoints.splice(endArray + 1, filterDates.length);
        copyDatapoints.splice(0, startArray);

        myChart.config.data.datasets[0].data = copyDatapoints;
        myChart.config.data.labels = filterDates;
        myChart.update();
      }

      function resetDate() {
        myChart.config.data.labels = convert;
        myChart.config.data.datasets[0].data = datapoints;
        myChart.update();
      }

      // Instantly assign Chart.js version
      const chartVersion = document.getElementById("chartVersion");
      chartVersion.innerText = Chart.version;
    </script>
  </body>
</html>
