<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <%- include('partials/head') %>
</head>
<body style="background-color: #313A46;">
    <div class="center">
        <h2>Đăng nhập</h2>
        <form method="post">
          <div class="txt_field">
            <input type="email" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Mật khẩu</label>
          </div>
          <div class="pass">Quên mật khẩu?</div>
          <input type="submit" value="Đăng nhập">
        </form>
      </div>
</body>
</html>

