<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="cartt">
            <div class="row">
                <div class="col-7">
                    <div class="cart-heading">
                        <img style="margin-top: 5px; margin-right: 10px; width: 25px; height: 25px;" src="/images/carttt.png" alt="">
                        <h3>Giỏ hàng</h3>
                        <p style="margin-top: 8px; margin-left: 10px; font-size: 16px;">(2 sản phẩm)</p>
                    </div>
                    <div class="cart-table">
                        <table class="table">
                            <thead>
                                <tr>
                            
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 25px;"><img style="width: 100px; height: 120px;" src="/images/ps5(sp2).jpg" alt=""></td>
                                    <td style="width: 320px;">
                                        <p style="line-height: 5px;">God of War: Ragnarok</p>
                                        <b style="color: #DC4E45;"> 550.000 đ</b>
                                    </td>   
                                    <td>
                                        <form>                                          
                                            <td>
                                                <input type="number" min="1" max="15" value="" name="quantity_cart" style="width: 45px; height: 30px; padding-left: 10px;">
                                                <input type="hidden" value="" name="rowId_cart" class="btn btn-default btn-sm">
                                                <input type="submit" value="Cập nhật" name="update_quantity" class="btn btn-primary update-quantity" style="margin-bottom: 5px; margin-left: 5px;">
                                            </td>                                      
                                        </form>
                                    </td>
                                    <td style="text-align: right; vertical-align: middle;">
                                        <a>
                                            <i class="fa-regular fa-trash-can" style="font-size: 25px; color: #A6A6A6;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-5">
                    <div class="cart-price">
                        <h4>Tạm tính</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border: white;">
                                    <td>Tạm tính:</td>
                                    <td style="text-align: right;">550.000 đ</td>
                                </tr>
                                <tr>
                                    <td>Phí vận chuyển:</td>
                                    <td style="text-align: right;">0 đ</td>
                                </tr>
                                <tr style="border: white;">
                                    <td style="font-weight: 500;">Tổng tiền:</td>
                                    <td style="text-align: right; color:#DC4E45; font-weight:500;">550.000 đ</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pay">
                        <a href="/home">
                            <button class="btn btn-secondary btn-pay">THANH TOÁN</button>
                        </a>
                        </div>
                        <div class="back-home">
                            <a href="/home">
                                <button class="btn btn-outline-dark btn-back-home">TIẾP TỤC MUA HÀNG</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <%- include('partials/footer') %>
</body>
</html>