<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                    <h3>Nhập vai</h3>
            </div>
    
        <div class="row row-cols-4">
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product">
                            <img src="images/ps5(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>God of War: Ragnarok</p>
                            </div>
                            <div class="price">
                                <p>55.000 VNĐ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product">
                            <img src="images/ps5(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>God of War: Ragnarok</p>
                            </div>
                            <div class="price">
                                <p>55.000 VNĐ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product">
                            <img src="images/ps5(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>God of War: Ragnarok</p>
                            </div>
                            <div class="price">
                                <p>55.000 VNĐ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product">
                            <img src="images/ps5(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>God of War: Ragnarok</p>
                            </div>
                            <div class="price">
                                <p>55.000 VNĐ</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="/product">
                            <img src="images/ps5(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>God of War: Ragnarok</p>
                            </div>
                            <div class="price">
                                <p>55.000 VNĐ</p>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    
    </div>
    
     <%- include('partials/footer') %>
</body>
</html>