<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                    <h3>Tin tức</h3>
            </div>
            <div class="row row-cols-4">
                <div class="news-box">
                    <div class="news-img">
                        <img src="/images/1.jpg" alt="News">
                    </div>
                    <div class="news-text">
                        <span>17 tháng 5, 2023</span>
                        <a href="#" class="news-title">What are you doing now?</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quos blanditiis saepe tenetur deleniti unde cum officiis sapiente voluptatem tempore asperiores. Expedita, aut est neque necessitatibus eius inventore odio maxime.</p>
                        <a href="#" style="font-weight: 600;">Đọc thêm</a>
                    </div>
                </div> 
                <div class="news-box">
                    <div class="news-img">
                        <img src="/images/1.jpg" alt="News">
                    </div>
                    <div class="news-text">
                        <span>17 tháng 5, 2023</span>
                        <a href="#" class="news-title">What are you doing now?</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quos blanditiis saepe tenetur deleniti unde cum officiis sapiente voluptatem tempore asperiores. Expedita, aut est neque necessitatibus eius inventore odio maxime.</p>
                        <a href="#" style="font-weight: 600;">Đọc thêm</a>
                    </div>
                </div> 
                <div class="news-box">
                    <div class="news-img">
                        <img src="/images/1.jpg" alt="News">
                    </div>
                    <div class="news-text">
                        <span>17 tháng 5, 2023</span>
                        <a href="#" class="news-title">What are you doing now?</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quos blanditiis saepe tenetur deleniti unde cum officiis sapiente voluptatem tempore asperiores. Expedita, aut est neque necessitatibus eius inventore odio maxime.</p>
                        <a href="#" style="font-weight: 600;">Đọc thêm</a>
                    </div>
                </div> 
                <div class="news-box">
                    <div class="news-img">
                        <img src="/images/1.jpg" alt="News">
                    </div>
                    <div class="news-text">
                        <span>17 tháng 5, 2023</span>
                        <a href="#" class="news-title">What are you doing now?</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, quos blanditiis saepe tenetur deleniti unde cum officiis sapiente voluptatem tempore asperiores. Expedita, aut est neque necessitatibus eius inventore odio maxime.</p>
                        <a href="#" style="font-weight: 600;">Đọc thêm</a>
                    </div>
                </div> 
            </div>
        </div>

     <%- include('partials/footer') %>
</body>
</html>