<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thor "bụng phệ" xuất hiện trong God of War: Ragnarok</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <div class="blog-header">
        <div class="header-content blog-container">
            <h1 class="header-title">Thor "bụng phệ" xuất hiện trong God of War: Ragnarok</h1>
            <img src="/images/1685590900201-Thorbeo.jpg" alt="" class="header-img">
        </div>
    </div>

    <div class="blog-content blog-container">
        <span>Bài viết được viết:</span><span>05/06/2023 06:10</span>
        <p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem labore facilis ut commodi molestiae debitis, quam autem itaque totam esse mollitia laboriosam dolores repellat ducimus vero quas cumque quaerat temporibus.</p>
    </div>

    <%- include('partials/footer') %>
</body>
</html>