<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="profile">
            <div class="row">
                <div class="col-3">
                    <div class="side-nav" style="margin-bottom: 85px">
                        <ul class="nav-links">
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/profile" ><i class="fa-solid fa-user"></i>Tài khoản</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="/orders"><i class="fa-solid fa-cart-shopping"></i>Lịch sử đơn hàng</a>
                            </li>
                            <li style="border-bottom: 1px solid #E6E8EB;">
                                <a href="password"><i class="fa-solid fa-user-lock"></i>Mật khẩu và bảo mật</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-heart"></i>Sản phẩm yêu thích</a>
                            </li>
                            <div class="animation"></div>
                        </ul>
                    </div>
                </div>
    
                <div class="col-9">
                    <div class="orders">
                        <div class="order-heading">
                            <h3>Chi tiết đơn hàng</h3>
                            <p><b>Địa chỉ nhận hàng:</b> Nhà A17 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội</p>
                            <p><b>Hình thức thanh toán:</b> Tiền mặt </p>
                        </div>
                        <div class=orders-table>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Ngày đặt</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Giá tiền</th>
                                    <th>Tình trạng</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>abc</td>
                                        <td>10:31 07/05/2023</td>
                                        <td>God of War: Ragnarok</td>
                                        <td><img src="images/ps5(sp2).jpg"></td>
                                        <td>1</td>
                                        <td>55.000 VNĐ</td>
                                         <td>Đang chờ xử lý</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-price">
                            <table>
    
                                <tr>
                                    <td style="font-weight: bold;">Tổng giá sản phẩm:</td>
                                    <td>55.000 VNĐ</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Phí vận chuyển:</td>
                                    <td style="padding-left: 20px;">Miễn Phí</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Tổng thành tiền:</td>
                                    <td>55.000 VNĐ</td>
                                </tr>
    
                            </table>
                        </div>
                        <div class="two-btn" style="padding-bottom: 30px;">
                            <div class="row">
                                <div class="col">
                                    <a href="/orders">
                                        <button class="btn btn-secondary btn-back">Quay lại</button>
                                    </a>
                                </div>

                                <div class="col">
                                    <a href="#">
                                        <button class="btn btn-secondary btn-next">Nhận đơn hàng</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <%- include('partials/footer') %>
</body>
</html>