<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">          
    <title>Hành động</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    
    <div class="container">
        <div class="cart-p">
            <div class="cart-heading">
                <a href="#" style="text-decoration: none; color:black"><h3>PS4</h3></a>      
            </div>
          
        <div class="row row-cols-4">
                <div class="col product">
                    <div class="sp-box">
                        <a href="">
                            <img src="/images/ps4(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>TÊn sản phẩm</p>
                            </div>
                            <div class="price">
                                <p>Giá tiền</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="">
                            <img src="/images/ps4(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>TÊn sản phẩm</p>
                            </div>
                            <div class="price">
                                <p>Giá tiền</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="">
                            <img src="/images/ps4(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>TÊn sản phẩm</p>
                            </div>
                            <div class="price">
                                <p>Giá tiền</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col product">
                    <div class="sp-box">
                        <a href="">
                            <img src="/images/ps4(sp1).jpg" style="text-align: center" height="300px" width="100px" alt="">
                            <div class="p-title">
                                <p>TÊn sản phẩm</p>
                            </div>
                            <div class="price">
                                <p>Giá tiền</p>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
    
     <%- include('partials/footer') %>
</body>
</html>